{% load static %}

<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/base.css' %}" />

{% block imports %}
{% endblock %}

<head>

  <title>.works 2022</title>
  <link rel="icon" type="image/png" href="{% static 'assets//images/w.png' %}" />

  <script>
    (function(d) {
      var config = {
        kitId: 'tvu7yhc',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>


</head>

<body>
  <script>
    function getSection(n) {
      if(!n){window.open(window.location.protocol + "/#faqs","_self")}
      if(n){window.open(window.location.protocol + "/#inscricoes","_self")}
    }
  </script>

  <nav class="nav-base" id="my-nav-base">

    <a href="{% url 'index' %}"> <img src="{% static 'assets/images/w.png' %}" id="dot-w" /></a>
    <ul class="nav-links">
      <li id="edicoes-passadas-nav" class="nav-item-container">
        <a href="{% url 'pasteditions' %}" class="nav-item">EDIÇÕES PASSADAS</a>
        <img src="{% static 'assets/images/traço menu.png' %}" class="nav-risco" id="nav-risco"/>
      </li>
      <li id="internships-nav" class="nav-item-container">
        <a href="{% url 'internships' %}" class="nav-item">ESTÁGIOS</a>
        <img src="{% static 'assets/images/traço menu.png' %}" class="nav-risco" id="nav-risco"/>
      </li>
      <li id="partners-nav" class="nav-item-container">
        <a href="{% url 'partners' %}" class="nav-item">PARCEIROS</a>
        <img src="{% static 'assets/images/traço menu.png' %}" class="nav-risco" id="nav-risco"/>
      </li>
      <!-- <div class="show-later circle"></div> -->
      <!-- <div class="show-later circle"></div> -->
      <!--<div class="show-later circle"></div>-->
      <li id="faq-nav" class="nav-item-container">
        <a href="javascript:getSection(0);" id="faq-nav" class="nav-item">FAQ</a>
        <!-- <img src="{% static 'assets/images/traço menu.png' %}" class="nav-risco" id="nav-risco"/> -->
      </li>
      <!-- <a href="#faqs" id="faq-nav" class="nav-item">FAQ</a> -->
    </ul>
    <a href="javascript:getSection(1);" id="inscricoes-nav">INSCRIÇÕES</a>
    <li class="burger">
    <!-- <a href="{% url 'index' %}"> <img src="{% static 'assets/images/burger.png' %}" id="dot-w" /></a> -->
    <img src="{% static 'assets/images/burger.png' %}" id="dot-w" />
    </li>
  </nav>
  {% block content %}

  {% endblock %}
  <section id="footer">
    <div class="column-footer" id="column-contactos">
      <h7>CONTACTOS</h7>
      <p><br>+351 931 874 992<br>
        dotworks@jeknowledge.com

        <br><br>
        jeKnowledge Associação
        <br>Rua Larga <br>
        Departamento de Física, B3<br>
        P-3004-516 Coimbra</p>
    </div>
    <!-- <div class="column-footer" id="column-logo">
      <a href="https://www.facebook.com/dotworkscoimbra" target="_blank"> <img src="{% static 'assets/facebook.svg' %}"
          id="facebook" class="logo-redes" /></a>
      <a href="https://www.linkedin.com/company/works2021/" target="_blank"> <img
          src="{% static 'assets/linkedin-white.png' %}" id="linkedin" class="logo-redes" /></a>
      <a href="https://www.instagram.com/dotworks21/" target="_blank"> <img src="{% static 'assets/instagram.svg' %}"
          class="logo-redes" /></a>

    </div> -->
    <div class="column-footer" id="column-jek">
      <p><a href="https://jeknowledge.pt/" target="_blank">
        <img href="{}" src="{% static 'assets/images/logojek.svg' %}" style="cursor: pointer;"/>
      </a></p>
      <p id="info-jek">geral@jeknowledge.com <br>
        +351 919 818 111
        <br><br>
        This website is
        <br>© jeKnowledge 2022.
      </p>
    </div>

  </section>
</body>
<script src="{% static 'js/base.js' %}"></script>

</html>
