{% extends 'base.html' %}

{% load static %}
{% block imports %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/flooper"></script>

{% endblock %}
{% block content %}

<div class="background-circle" id="circle-vermelho"></div>
<div class="background-circle" id="circle-azul"></div>

<section id="section1">
  <div id="video-div">
    <video width="600" autoplay muted controls="false" loop playsinline>
      <source src="{% static 'assets/animacao-dot.mp4' %}" type="video/mp4">
      <source src="{% static 'assets/animacao-dot.mp4' %}" type="video/ogg">
    </video>
  </div>

  <!--<img id="logo-works" src="{% static 'assets/logo.svg' %}" />-->
  <h1>12 e 19 maio </h1>
  <a href="" id="inscreve-te"><img src="{% static 'assets/inscreve.svg' %}" /></a>
</section>
<section id="section2">
  <div id="score-points">

    <h2>VEM MARCAR PONTOS CONNOSCO</h2>
    <p>Gostavas de ter um estágio este verão mas já deixaste passar todos os períodos de candidaturas? Ou
      simplesmente
      nenhum de interessou? Ou estás a preparar-te para o teu próximo ano letivo e gostarias de fazer um estágio
      curricular? Estás a acabar o curso e não sabes onde fazer o teu primeiro estágio profissional?
      <br> <br>

      <b>Dotworks</b> é um evento organizado pela <b>jeKnowledge</b> que<br> junta diversas empresas das áreas
      tecnológicas!
      Terás ainda <br>
      a oportunidade de ter entrevistas informais com as tuas preferidas!


    </p>
  </div>
  <div id="flooper-containter">

    <!-- required hooks -->
    <div class="c-my-flooper js-flooper">
      {% for company in companys %}
      <div class="c-my-flooper__el js-flooper-item">
        <img src="{{company.logo}}" />
      </div>
      {% endfor %}
      {% for company in companys %}
      <div class="c-my-flooper__el js-flooper-item">
        <img src="{{company.logo}}" />
      </div>
      {% endfor %}
    </div>
  </div>


  <h4>ENCONTRA TODOS OS <a href="{% url 'internships' %}" id="estagios-link">ESTÁGIOS</a>
    QUE TEMOS PARA OFERECER</h4>
</section>
<section id="section3">
  <div id="carousel-testemunhos">
    <div class="btn-bar">
      <div id="buttons">
        <a class="control_prev" id="prev" href="javascript:void();"> <img
            src="{% static 'assets/arrowleft.svg' %}" /></a>
        <a class="control_next" id="next" href="javascript:void();"><img
            src="{% static 'assets/arrowright.svg' %}" /></a> </div>
    </div>
    <div id="slider">

      <ul>
        {% for testimony in testimonys %}
        <li class="slide">
          <div class="autor-container">
            <h6 class="quote-autor">{{testimony.firstName}} {{testimony.lastName}} </h6>
          </div>
          <div class="vl"></div>
          <div class="quote-container">
            <p class="quote-frase"> {{testimony.test}}

            </p>
          </div>
        </li>
        {% endfor %}

      </ul>
    </div>

  </div>
  </div>
  </div>
  <h5>E como foram as <a href="{% url 'pasteditions' %}" id="passado-link">edições anteriores</a>?</h5>
</section>

<section id="section4">
  <div id="faqs">
    <div id="header-faqs">
      <h2>FAQ</h2>
      <a href="{% url 'faq' %}"> <img src="{% static 'assets/plus.svg' %}" id="plus" /></a>
    </div>
    {% for faq in faqs %}
    <div class="faq-container">
      <div class="question">
        <p>{{faq.question}}</p>
        <img class="icon" src="{% static 'assets/arrow-faq-down.svg' %}">
      </div>
      <div class="answer">
        <p>{{faq.answer}}</p>
      </div>

    </div>
    {% endfor %}
  </div>
</section>
<script src="{% static 'js/index.js' %}"></script>
{% endblock %}
