{% extends 'base.html' %}

{% load static %}
{% block imports %}
<link rel="stylesheet" href="{% static 'css/internships.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


{% endblock %}
{% block content %}

<img src="{% static 'assets/img_estagios.png' %}" id="photo-internships">
<section id="section1">
  <div id="internships-section">
    <div class="filter-column">
      <h1>ÁREAS</h1>
      <div class="radios-container">
        {% for area in queryArea %}
        <label id="area-container" class="filter-container">
          <input type="radio" onclick="areaChoice('{{area.area_field}}')" name="radio-area">
          <span class="checkmark area"></span>
          <p>{{area.area_field}}</p>
        </label>
        {% endfor %}
        <span href="" class='clean-filters' onclick="areaChoice('')">limpar</span>
      </div>
      <h1>DURAÇÃO</h1>
      <div class="radios-container">
        {% for duration in queryDuration %}
        <label id="duration-container" class="filter-container">
          <input type="radio" onclick="durationChoice('{{duration.duration}}')" name="radio-duration">
          <span class="checkmark"></span>
          <p>{{duration.duration}}</p>
        </label>
        {% endfor %}
        <span href="" class='clean-filters' onclick="durationChoice('')">limpar</span>

      </div>
      <h1>TIPO</h1>
      <div class="radios-container">
        {% for type in queryType %}
        <label id="type-container" class="filter-container">
          <input type="radio" onclick="typeChoice('{{type.internship_type}}')" name="radio-type">
          <span class="checkmark"></span>
          <p>{{type.internship_type}}</p>
        </label>
        {% endfor %}
        <span href="" class='clean-filters' onclick="typeChoice('')">limpar</span>

      </div>
      <h1>EMPRESAS</h1>
      <div class="radios-container">
        {% for company in queryCompany %}
        <label id="company-container" class="filter-container">
          <input type="radio" onclick="companyChoice('{{company.name}}')" name="radio-company">
          <span class="checkmark"></span>
          <p id="company">{{company.name}}</p>
        </label>
        {% endfor %}
        <span href="" class='clean-filters' onclick="companyChoice('')">limpar</span>

      </div>
    </div>
    <div class="filter-button">
      <img src="{% static 'assets/images/sort-by.svg' %}" />
    </div>
    <div id="internships-column">
      <div id="internships-container">
        {% for internship in queryInternship %}
        <a href="#section1"
          class="internship {{internship.area}} {{internship.getDurations}} {{internship.internship_type}} {{internship.company}}"
          id="myBtn" data-number="{{forloop.counter}}">
          <img src="{{internship.company.logo}}" />
          <h2>{{internship.specific_area}}</h2>
        </a>

        {% endfor %}

      </div>
      {% for internship in queryInternship %}
      <div class="info-panel" data-number="{{forloop.counter}}">

        <!-- Modal content -->
        <div class="info-panel-content">
          <img class="logo-company" src="{{internship.company.logo}}" />
          <div class="text-info">
            <h3>{{internship.company.name}}</h3>
            <h4>{{internship.specific_area}}
              <br>{{internship.internship_type}}</h4>
            <h5>{{internship.getDurationsDisplay}}
              {%if internship.date_defined%}
              <br>{{internship.start_date}} a {{internship.end_date}}
              {%else%}
              <br>{{internship.date_text}}
              {%endif%}
              {%if internship.payed%}
              <br>Remunerado
              {%endif%}
              {% if internship.remote %}
              <br>{{internship.location}}; Remote allowed</h5>
            {% else %}
            <br>{{internship.location}}</h5>
            {% endif %}
            <p>{{internship.description}}
            </p>

          </div>
          <a href="" id="inscreve-te"><img src="{% static 'assets/inscreve.svg' %}" /></a>
          <span class="close">
            < Voltar </span> </div> </div> {%endfor%} </div> </div> </section> <script
              src="{% static 'js/internships.js' %}">
              </script>

              <script>
                var area = "";
                var duration = "";
                var type = "";
                var company = "";

                companyFilter()

                function areaChoice(choice) {
                  area = choice;
                  companyFilter(area, duration, type, company)

                  if (choice == "") {
                    let checkmarks = document.getElementsByName("radio-area");
                    for (let checkmark of checkmarks) {

                      checkmark.checked = false;
                    }
                  }
                }

                function durationChoice(choice) {
                  duration = choice;
                  companyFilter(area, duration, type, company)
                  if (choice == "") {
                    let checkmarks = document.getElementsByName("radio-duration");
                    for (let checkmark of checkmarks) {

                      checkmark.checked = false;
                    }
                  }
                }

                function typeChoice(choice) {
                  type = choice;
                  companyFilter(area, duration, type, company)
                  if (choice == "") {
                    let checkmarks = document.getElementsByName("radio-type");
                    for (let checkmark of checkmarks) {

                      checkmark.checked = false;
                    }
                  }
                }

                function companyChoice(choice) {
                  company = choice;
                  companyFilter(area, duration, type, company)
                  if (choice == "") {
                    let checkmarks = document.getElementsByName("radio-company");
                    for (let checkmark of checkmarks) {

                      checkmark.checked = false;
                    }
                  }
                }

                function companyFilter(area, duration, type, company) {

                  var x, i;
                  var show; //variable that says if it is supposed to show the internship
                  x = document.getElementsByClassName("internship");
                  if (!area) {
                    area = "";
                  }
                  if (!duration) {
                    duration = "";
                  }
                  if (!type) {
                    type = "";
                  }
                  if (!company) {
                    company = "";
                  }

                  //console.log(x.item(1));
                  //if para o caso de nao haver filtro
                  for (i = 0; i < x.length; i++) {
                    removeShow(x[i], "show");
                    if (x[i].className.indexOf(area) > -1 && x[i].className.indexOf(duration) > -1 && x[i].className
                      .indexOf(type) > -1 && x[i].className.indexOf(company) > -1) {
                      addShow(x[i], "show");
                    }
                  }
                }



                function addShow(element, show) {
                  var i, arr1, arr2;
                  arr1 = element.className.split(" ");
                  arr2 = show.split(" ");
                  for (i = 0; i < arr2.length; i++) {
                    if (arr1.indexOf(arr2[i]) == -1) {
                      element.className += " " + arr2[i];
                    }
                  }
                }

                function removeShow(element, show) {
                  var i, arr1, arr2;
                  arr1 = element.className.split(" ");
                  arr2 = show.split(" ");;
                  for (i = 0; i < arr2.length; i++) {
                    while (arr1.indexOf(arr2[i]) > -1) {
                      arr1.splice(arr1.indexOf(arr2[i]), 1);
                    }
                  }
                  element.className = arr1.join(" ");
                }

              </script>
              {% endblock %}
