{% extends 'base.html' %}

{% load static %}
{% block imports %}
<link rel="stylesheet" href="{% static 'css/partners.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}
{% block content %}

<section id="section1">
  <div id="partners">
    <div id="header-partners">
      <h2>OS NOSSOS PARCEIROS</h2>
    </div>

    <div id="partners-container">

      {% for company in companys %}
      <a href="{{company.website}}" class="partner-logo">
        <img src="{{company.logo}}" />
      </a>
      {% endfor %}
    </div>
  </div>
</section>

<script src="{% static 'js/partners.js' %}"></script>
{% endblock %}
