{% load static %}

<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/base.css' %}" />

{% block imports %}
{% endblock %}

<head>
  <title>.works 2021</title>
  <link rel="icon" type="image/png" href="{% static 'assets/favicon.png' %}" />

</head>

<body>
  <nav class="nav-base" id="my-nav-base">

    <a href="{% url 'index' %}"> <img src="{% static 'assets/w.png' %}" id="dot-w" /></a>
    <ul class="nav-links">

      <a href="{% url 'index' %}" class="show-later">HOME</a>
      <div class="show-later circle"></div>
      <a href="{% url 'pasteditions' %}" id="edicoes-passadas-nav" class="nav-item">EDIÇÕES PASSADAS</a>
      <div class="show-later circle"></div>
      <a href="{% url 'internships' %}" id="internships-nav" class="nav-item">ESTÁGIOS</a>
      <div class="show-later circle"></div>
      <a href="{% url 'partners' %}" id="partners-nav" class="nav-item">PARCEIROS</a>
      <!--<div class="show-later circle"></div>-->
      <a href="" id="inscricoes-nav" class="nav-item">INSCRIÇÃO</a>
      <div class="show-later circle"></div>
      <a href="{% url 'faq' %}" id="faq-nav" class="nav-item">FAQ</a>
    </ul>
    <div class="burger">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>
  </nav>
  {% block content %}

  {% endblock %}
  <section id="footer">
    <div class="column-footer" id="column-contactos">
      <h7>CONTACTOS</h7>
      <p><br>+351 927 970 888<br>
        dotworks@jeknowledge.com

        <br><br>
        jeKnowledge Associação
        <br>Rua Larga <br>
        Departamento de Física, B3<br>
        P-3004-516 Coimbra</p>
    </div>
    <div class="column-footer" id="column-logo">
      <a href="https://www.facebook.com/dotworkscoimbra" target="_blank"> <img src="{% static 'assets/facebook.svg' %}"
          id="facebook" class="logo-redes" /></a>
      <a href="https://www.linkedin.com/company/works2021/" target="_blank"> <img
          src="{% static 'assets/linkedin-white.png' %}" id="linkedin" class="logo-redes" /></a>
      <a href="https://www.instagram.com/dotworks21/" target="_blank"> <img src="{% static 'assets/instagram.svg' %}"
          class="logo-redes" /></a>

    </div>
    <div class="column-footer" id="column-jek">
      <img id="logojek" src="{% static 'assets//images/logojek.svg' %}" />
      <p id="info-jek">geral@jeknowledge.com <br>
        +351 926 590 223
        <br><br>
        This website is
        <br>© jeKnowledge 2021.
      </p>
    </div>

  </section>
</body>
<script src="{% static 'js/base.js' %}"></script>

</html>
