@font-face {
    font-family: "Inter-Medium";
    src: url("../assets/fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Inter-Bold";
    src: url("../assets/fonts/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
}

/* @font-face {
    font-family: "source-han-sans-traditional", sans-serif;
    font-weight: 400;
    font-style: normal;
} */


/*
font-family: "hansansBol";
font-weight: 700;

font-family: "source-han-sans-traditional",
sans-serif;font-weight:400;
font-style:normal
*/

p {
    margin: 0;
    padding: 0;
}


html * {
    font-family: "Inter-Medium";
    font-weight: 500;
}

h1,h2,h3,h4,h5,h6,h7{
    font-family: "Inter-Bold";
    font-weight: 700;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #ebecf6;
    overflow-x: hidden;
    margin: 0;
}

.nav-base {
    width: 100vw;
    height: 111px;
    position: fixed;
    background-color: #ebecf6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    margin-left: auto;
}

#dot-w {
    height: 44px;
    position: relative;
    top: 5px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 3;
    text-align: justify;
    justify-content: space-evenly;
    width: 60%;
}

.nav-base .nav-links a {
    vertical-align: middle;
    font-size: 18px;
    text-decoration: none;
    color: #2F2F31;
    white-space: nowrap;
}

.nav-base a:hover {
    color: #FE508D;
    transition: all .4s ease-in-out;
}

.nav-base a:focus {
    color: #FE508D;
    transition: all .4s ease-in-out;
}

/* .nav-links img{
    display: none;
} */
.nav-item-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* width: 100%; */
}

#faq-nav .nav-risco {
    max-width: 100px;
    /* display: none; */
}
.nav-risco {
    max-width: 100px;
    /* display: none; */
}
.nav-risco {
    max-width: 100px;
    /* display: none; */
}
.nav-risco {
    max-width: 100px;
    /* display: none; */
}

#inscricoes-nav {
    justify-self: end;
    background-color: #5551FF;
    margin-left: 20px;
    /* margin-right: 60px; */
    border: 9px solid #5551FF;
    border-radius: 10px;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    position: relative;
    text-align: center;
    position: relative;
}

#inscricoes-nav:hover {
    background-color: #FF4284;
    border-color: #FF4284;
}

.nav-item {
    vertical-align: middle;
    margin-left: 20px;
    width: 108px;
}

#edicoes-passadas-nav {
    width: 195px;
}

.burger {
    display: none;
    cursor: pointer;
}

.line {
    height: 5px;
    width: 26px;
    margin: 3px 0 0 0;
    background: #FE508D;
    border-radius: 3.5px;
    transition: transform .5s ease, opacity .5s ease;
}

.nav-base.show .line1 {
    transform: translate(-10px) rotate(45deg) translate(12px);
}

.nav-base.show .line2 {
    opacity: 0;
}

.nav-base.show .line3 {
    transform: translate(-10px) rotate(-45deg) translate(11px);
}

.nav-base.show .nav-links {
    transform: translateX(0%);
}

/* FOOTER*/

#footer {
    background-color: #5551FF;
    padding: 0 98px;
    height: 310px;
    display: flex;
    flex-direction: row;
}

.column-footer {
    padding: 46px 0;
    width: 50%;
}

h7 {
    font-size: 21px;
    color: #ebecf6;
}

.column-footer p {
    display: block;
    font-size: 18px;
    width: 262px;
    font-family: "Montserrat-ExtraLight";
    line-height: 24px;
    color: #ebecf6;
}

#info-jek {
    padding-top: 26px;
    text-align: right;
}

#column-jek {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#column-logo {
    padding-top: 21px;
}

#linkedin {
    padding: 0 18px;
}

.logo-redes {
    height: 50px;
}

#column-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logojek {
    width: 50px;
}

@media screen and (max-width: 1000px) {
    #dot-w {
        height: 24px;
        padding-left: 20px;
    }

    .burger {
        padding: 0;
        padding-right: 30px;
        margin-left: auto;
        display: block;
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        z-index: 1;
        top: 0;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #ebecf6;
        transform: translateX(100%);
        transition: transform 1s ease;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .nav-base {
        height: 60px;
    }

    .nav-item,
    .show-later {
        margin: 0;
        margin-bottom: 3vh;
        text-align: center;
    }

    .nav-base .nav-links a {
        font-size: 28px;
        width: auto;
    }

    .show-later {
        display: block;
    }

    .show-later.circle {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #FE508D;
    }

    #footer {
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 46px 98px 20px;
    }

    .column-footer {
        text-align: center;
        width: auto;
        padding: 0;
        padding-bottom: 37px;
    }

    #info-jek {
        text-align: center;
        padding-top: 14px
    }

    #column-jek {
        align-items: center;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 3;
        -webkit-order: 3;
        order: 3;
    }

  /*   #column-jek img {
        width: 115px;
    } */

    .column-footer p {
        font-size: 14px;
        line-height: 17px;
    }

    .logo-redes {
        width: 28px;
        height: 28px;
    }

    #column-contactos {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }

    #column-logo {
        padding: 0;
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
        padding-bottom: 10px;
    }

    #faq-nav {
        padding: 0;
    }
}
