.background-circle {
    position: absolute;
    width: 89px;
    height: 89px;
    border-radius: 50%;
}

#circle-vermelho {
    left: 142px;
    top: 100vh;
    background: rgba(219, 58, 80, 0.4);
    z-index: -100;
}

#circle-azul {
    left: 1240px;
    top: 1475px;
    background: rgba(0, 75, 132, 0.4);
    z-index: -100;
}

#section1, #section2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section1 {
    position: relative;
}

#section2 {
    height: auto;
}

#video-div {
    margin-top: 55px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1 {
    position: relative;
    font-size: 34px;
    color: #004B84;
    opacity: 70%;
}

#inscreve-te {
    position: relative;
    margin-top: 19px;
    height: 50px;
    display: none;
}

#inscreve-te img {
    transition: all .4 ease-in-out;
}

#inscreve-te img:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

h2 {
    color: #004B84;
    font-family: 'Montserrat-Bold';
    font-size: 40px;
    text-align: center;
}

#score-points {
    padding: 0 23vw;
}

#score-points p {
    font-family: 'Montserrat-Light';
    font-size: 20px;
    text-align: center;
}

video::-webkit-media-controls {
    display: none;
}

#flooper-containter {
    width: 100vw;
    overflow: hidden;
}

.c-my-flooper {
    margin-top: 160px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.c-my-flooper__el {
    padding-right: 153px;
}

.c-my-flooper__el img {
    height: 64px;
}

h4 {
    color: #004B84;
    font-size: 34px;
    width: 600px;
    text-align: center;
    padding: 160px 0 160px 0;
}

#estagios-link {
    font-family: 'Montserrat-SemiBold';
    color: #DB3A50;
    font-size: 34px;
    text-decoration: underline;
    position: relative;
}

#section3 {
    height: auto;
    background-color: #DB3A50;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#carousel-testemunhos {
    width: 70%;
    padding-top: 50px;
    margin: 0 auto 0;
}

/* Styling for prev and next buttons */

#slider {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    top: 50%;
    transform: translateY(-50%);
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

#slider ul li {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    float: left;
    margin: 0;
    padding: 0;
    width: 100vw;
    background: transparent;
    text-align: center;
}

.btn-bar {
    display: block;
    position: relative;
    top: 50%;
    width: 100%;
    z-index: 1;
}

#buttons {
    float: left;
}

#buttons a {
    text-align: center;
    display: block;
}

a#prev {
    float: left;
    position: absolute;
    top: 50%;
    left: -40px;
}

a#next {
    float: right;
    position: absolute;
    right: -40px;
}

a#prev:hover, a#next:hover {
    color: #FFF;
    text-shadow: .5px 0px #b14943;
}

.vl {
    border-left: 5px solid #FFFEF3;
    height: 224px;
}

.quote-container p, .quote-autor {
    display: table-cell;
    padding: 5px 20px;
}

.quote-container p {
    font-size: 22px;
    color: #FFFEF3;
    text-align: left;
    font-family: 'Montserrat-Light';
    padding-left: 53px;
}

.quote-autor {
    text-align: right;
    font-size: 36px;
    color: #FFFEF3;
    width: 150px;
    padding-right: 43px;
}

.quote-container {
    display: table;
    width: 45vw;
    margin-right: auto;
}

.autor-container {
    display: table;
    width: 141px;
    margin-left: auto;
}

h5 {
    color: #FFFEF3;
    font-size: 36px;
    text-align: center;
    margin: 0;
    padding: 80px 0 62px;
}

#passado-link {
    color: #FFFEF3;
    font-size: 36px;
    text-decoration: underline;
    position: relative;
}

/*FAQ*/

#section4 {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#faqs h2 {
    margin: 0;
    font-size: 40px;
    font-family: 'Montserrat-SemiBold';
    color: #004B84;
}

#plus {
    margin-right: auto;
}

#header-faqs {
    margin-bottom: 37px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#faqs {
    margin: 214px 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer {
    display: none;
    border-radius: 34px;
    animation: sweep 0.5s ease-in-out;
}

.question {
    background-color: #FFFEF3;
    cursor: pointer;
    padding: 0 0 20px 0;
    border-radius: 34px;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.question.active {
    background-color: #FFFEF3;
}

.faq-container {
    border: 1px solid #004B84;
    box-sizing: border-box;
    border-radius: 34px;
    width: 100%;
    margin-bottom: 26px;
    overflow: hidden;
}

.faq-container:hover {
    border: 1px solid #DB3A50;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-top: -70px;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

.question p {
    position: relative;
    z-index: 1;
    background-color: #FFFEF3;
    border-radius: 50px;
    margin: 0 34px 0 34px;
    padding: 18px 0 0px 0;
    width: 90%;
}

.icon {
    padding-top: 18px;
    padding-right: 18px;
    align-self: center;
}

.answer p {
    position: relative;
    z-index: 0;
    font-family: 'Montserrat-Light';
    border-radius: 34px;
    margin: 0 34px 30px 34px;
}

.icon {
    padding-top: 18px;
    align-self: center;
}

@media screen and (max-width: 1100px) {
    #score-points {
        padding: 0 10vw;
    }
}

@media screen and (max-width: 900px) {
    #video-div {
        width: 100vw;
    }
    video {
        height: 300px;
    }
    h1 {
        font-size: 15px;
    }
    #inscreve-te img {
        margin-top: 10px;
        height: 25px;
    }
    h2 {
        font-size: 24px;
    }
    #score-points p {
        font-size: 14px;
    }
    h4 {
        font-size: 18px;
        width: 90vw;
    }
    a#estagios-link {
        font-size: 18px;
    }
    #carousel-testemunhos {
        height: auto;
    }
    #slider li {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }
    .vl {
        display: none;
    }
    .quote-container p {
        font-size: 14px;
        padding: 0;
        padding-top: 23px;
        margin: 0;
        text-align: center;
    }
    .quote-autor {
        text-align: center;
        font-size: 18px;
        width: 100%;
        ;
        padding: 0;
    }
    .control_prev img, .control_next img {
        width: 15px;
        ;
    }
    #slider ul li {
        width: 35vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .quote-container {
        height: fit-content;
        margin: 0;
    }
    .autor-container {
        margin: 0;
        width: auto;
    }
    .question p {
        padding: 12px 0 0px 0;
    }
    .question {
        padding: 0px 0 12px 0;
    }
    .icon {
        padding-top: 10px;
        height: 5px;
    }
    #header-faqs {
        margin-bottom: 12px;
    }
    #faqs {
        margin: 60px 0;
        width: 90%;
    }
    #faqs h2 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
    }
    h5, #passado-link {
        font-size: 18px;
    }
    .c-my-flooper {
        margin-top: 82px;
    }
    .c-my-flooper__el {
        padding-right: 70px;
    }
    .c-my-flooper__el img {
        height: 49px;
    }
    h4 {
        padding: 82px 0;
    }
    .background-circle {
        display: none;
    }
    #plus {
        height: 24px;
    }
}