p{
  font-family: "Inter-Medium";
}


/* 
#internships-nav {
} */

#photo-internships {
  width: 100vw;
  margin-top: 50px;
}

#section1 {
  margin: 117px 0 140px;
}

#internships-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  color: #5551FF;
  font-size: 43px;
  /* font-size: 18px; */
  font-family: "Inter-SemiBold";
  margin: 0;
}

.filter-column {
  /* margin-bottom: 50px;*/
  margin-left: 5vw;
  margin-right: 3vw;
  background-color: #ebecf6;
  /*position: sticky;
    position: -webkit-sticky;
    top: 0px;
    /* required */
}

.filter-column, .radios-container {
  display: flex;
  flex-direction: column;
}

.radios-container {
  padding: 30px 0;
}

.radios-container a {
  padding-top: 16px;
  color: black;
}

/* The area-container */

.filter-container {
  padding: 9px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

.filter-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.checkmark {
  border-radius: 50%;
  border: 4px solid #FE508D;
  background: #ebecf6;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
}

.filter-container p {
  font-size: 25px;
  font-family: "Inte-SemiBold";
  margin: 0;
  margin-left: 10px;
  line-height: 26px;
}

/* On mouse-over, add a grey background color */

.filter-container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */

.filter-container input:not(:checked).checkmark {
  background: #ebecf6;
}

.filter-container input:checked~.checkmark {
  border: 4px solid #FE508D;
  background: #5551FF;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
}

input {
  margin: 0;
  height: 16px;
  width: 16px;
}

.clean-filters {
  padding-top: 10px;
}

.clean-filters:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

/*------------------------------------------------------------------------------------------------------*/

#internships-container a {
  text-decoration: none;
}

h2 {
  font-size: 16px;
  font-family: "Montserrat-ExtraLight";
  text-align: center;
  color: #000000;
  margin: 0;
  margin-top: 20px;
}

.filter-button {
  display: none;
  cursor: pointer;
  background-color: #ebecf6;
  margin: 20px;
}

#internships-column {
  position: relative;
}

#internships-container {
  display: grid;
  width: 60vw;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-auto-rows: 140px;
  grid-gap: 50px 30px;
  align-content: space-between;
}

.internship {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 250px;
  height: 140px;
  cursor: pointer;
  display: none;
}

.show {
  display: flex;
}

.internship img {
  max-height: 40%;
  max-width: 80%;
}

.internship:hover {
  box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.08);
  transform: scale(1.2, 1.2);
  transition: all 0.4s ease-in-out;
}

/*................................................................................................*/

.info-panel {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: fit-content;
  /* Full height */
  /* Fallback color */
  background-color: #ebecf6;
  /* Black w/ opacity */
  margin-left: auto;
  justify-content: center;
}

/* Modal Content/Box */

.info-panel-content {
  width: 760px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

img.logo-company {
  height: 80px;
  align-self: flex-start;
}

/* The Close Button */

.close {
  color: #5551FF;
  font-size: 18px;
  font-family: "Montserrat-Regular";
  padding-top: 24px;
}

#inscreve-te {
  height: 40px;
  animation: all 0.4 ease-in-out;
  display: none;
}

#inscreve-te img:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 16px;
  transform: scale(1.05);
  transition: all .3s ease-in-out;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.text-info h3 {
  margin: 0;
  font-family: "Montserrat-SemiBold";
  font-size: 28px;
}

.text-info {
  margin-top: 50px;
}

h4 {
  font-family: "Montserrat-Light";
  font-size: 24px;
}

h5 {
  font-family: "Montserrat-Light";
  font-size: 18px;
}

.text-info p {
  font-family: "Montserrat-Light";
  font-size: 15px;
  line-height: 22px;
  padding-bottom: 60px;
}

.filter-column.show {
  transform: translateX(0%);
  transition: transform 1s ease;
  z-index: 2;
}

@media screen and (max-width: 1300px) {
  #internships-container {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media screen and (max-width: 900px) {
  .filter-column {
    top: 0;
    position: absolute;
    transform: translateX(-100%);
    transition: transform 1s ease;
    padding: 30px 60px 30px 40px;
    margin: 0;
    z-index: 2;
  }
  .internships-container {
    justify-content: center;
    padding-bottom: 100px;
  }
  .filter-button {
    display: block;
    z-index: 0;
    margin: 0;
    padding: 10px 30px 30px 30px;
  }
  .info-panel-content {
    padding: 30px;
  }
  #internships-section {
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
  }
  #internships-container {
    width: 100%;
  }
  #section1 {
    margin: 20px 0 100px;
  }
  .filter-container p, h1 {
    font-size: 16px;
    line-height: 24px;
  }
  #internships-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 50px 0;
  }
  .internship {
    width: 150px;
    height: 90px;
  }
  .internship:hover {
    transform: scale(1, 1);
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.0);
  }
  h2 {
    font-size: 14px;
  }
  .filter-container p {
    font-size: 14px;
    line-height: 21px;
  }
  .radios-container {
    padding: 20px 0;
  }
  .clean-filters {
    font-size: 14px;
  }
  .filter-container input:checked~.checkmark, .checkmark, input {
    height: 14px;
    width: 14px;
  }
}