a {
    text-decoration: none;
}

#edicoes-passadas-nav {
    /* font-family: 'Montserrat-SemiBold'; */
}

#section1 {
    height: 100vh;
    position: relative;
    padding-top: 51px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#slider {
    position: relative;
    overflow: hidden;
    align-self: center;
    border-radius: 4px;
}

.gallery-container {
    width: 100vw;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: auto;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    margin-top: 80px;
    padding: 0;
    width: 100vw;
    background: transparent;
    text-align: center;
}

a.control_prev, a.control_next {
    background: transparent;
    width: 36px;
    height: 36px;
    border: 7px solid #FE508D;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    background: #FE508D;
    transition: all .4s ease-in-out;
}

a.control_next {
    float: right;
    position: absolute;
    right: 22%;
}

a.control_prev {
    float: left;
    position: absolute;
    left: 22%;
}

.btn-bar {
    display: block;
    position: relative;
    top: 50%;
    width: 100%;
    z-index: 1;
}

#buttons {
    float: left;
}

#buttons a {
    text-align: center;
    display: block;
}

#slider ul li img {
    /* filter: drop-shadow(10px 15px 15px #12324A); */
    /* border-radius: 20px; */
    height: 546px;
    max-width: 937px;
}

#section2 {
    position: relative;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;
}

.past-edition {
    width: fit-content;
    float: left;
    text-align: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 122px;
}

.vl {
    /* border: 5px solid #FE508D; */
    max-height: 224px;
}

.past-edition p, .year {
    align-self: center;
}

.past-edition p {
    /* height: 200px; */
    font-size: 25px;
    color: #2F2F31;
    text-align: left;
    width: 746px;
    font-family: 'Montserrat-Light';
    padding-left: 53px;
}

.year {
    font-size: 45px;
    color: #2F2F31;
    margin-right: 5vw;
    vertical-align: middle;
}

.quote-container {
    align-items: center;
    /* display: table; */
    width: 746px;
}

/* .year-container {
    width: 113px;
    height: 53px;
    display: table;
    border: 1.5px solid #FFFEF3;
    background-color: transparent;
    box-sizing: border-box;
    box-shadow: 5px 5px 4px 1px #104064;
    border-radius: 18px;
    margin-right: 43px;
}

.year-container:hover {
    background-color: #FFFEF3;
    transition: all .4s ease-in-out;
}

.year-container:hover h6 {
    color: #5551FF
} */

@media screen and (max-width: 1300px) {
    a.control_next {
        right: 18%;
    }
    a.control_prev {
        left: 18%;
    }
}

@media screen and (max-width: 1200px) {
    a.control_next {
        right: 15%;
    }
    a.control_prev {
        left: 15%;
    }
}

@media screen and (max-width: 1100px) {
    a.control_next {
        right: 11%;
        width: 25px;
        height: 25px;
        border: 6px solid #FE508D;
    }
    a.control_prev {
        left: 11%;
        width: 25px;
        height: 25px;
        border: 6px solid #FE508D;
    }
}

@media screen and (max-width: 1000px) {
    .past-edition {
        flex-direction: column;
        height: fit-content;
        margin: 0 0 72px;
    }
    .vl {
        display: none;
    }
    .past-edition p {
        padding-left: 0;
        width: 80vw;
        font-size: 14px;
        vertical-align: baseline;
        height: fit-content;
    }
    .quote-container {
        width: 80vw;
    }
    .year {
        font-size: 20px;
    }
    .year-container {
        height: 32px;
        width: 83px;
        border: 1.5px solid #FFFEF3;
        border-radius: 13px;
        margin: 0;
        margin-bottom: 32px;
    }
    #section2 {
        padding: 0 0 72px;
    }
    #section1 {
        height: fit-content;
    }
    #slider ul li {
        margin-top: 120px;
    }
    .btn-bar {
        top: 65%;
    }
    a.control_next {
        right: 30%;
    }
    a.control_prev {
        left: 30%;
    }
}

@media screen and (max-width: 700px) {
    #slider ul li img {
        width: 500px;
        height: 333px;
    }
}

@media screen and (max-width: 520px) {
    #slider ul li img {
        width: 341px;
        height: 227px;
    }
}

@media screen and (max-width: 350px) {
    #slider ul li img {
        width: 250px;
        height: 166px;
    }
}