{% extends 'base.html' %}

{% load static %}
{% block imports %}
<link rel="stylesheet" href="{% static 'css/faq.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}
{% block content %}

<section id="section1">
  <div id="faqs">
    <div id="header-faqs">
      <h2>FREQUENTLY ASKED QUESTIONS</h2>
    </div>

    {% for faq in faqs %}
    <div class="faq-container">
      <div class="question">
        <p>{{faq.question}}</p>
        <img class="icon" src="{% static 'assets/arrow-faq-down.svg' %}">
      </div>
      <div class="answer">
        <p>{{faq.answer}}</p>
      </div>

    </div>
    {% endfor %}

  </div>
</section>


<script src="{% static 'js/faq.js' %}"></script>
{% endblock %}
